.FormStyle {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f5f5f5;
    width: 400px;
    display: block;
}

.FormStyle select {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f5f5f5;
    width: 325px;
    display: block;
}

.FormStyle button {
    margin: 10px 0 0 0;
    padding: 7px 10px;
    border: 1px solid #efffff;
    border-radius: 3px;
    width: 100%; 
    font-size: 15px;
    display: block;
}

.CardStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.TableStyle {
    margin: auto;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #d0e6f7;
    width: 1400px;
    display: block;
}

.TableStyle table {
    background: #f5f5f5;
}

.TableStyle1 {
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f5f5f5;
    width: 900px;
    display: block;
}

.select-container {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f5f5f5;
    width: 325px;
    display: block;
}

.TableStyle button {
    margin: 10px 0 0 0;
    padding: 7px 10px;
    border: 1px solid #efffff;
    border-radius: 3px;
    width: 100%; 
    font-size: 15px;
    display: block;
}

.in-progress {
    background: #c7c0eb;
}

.finished {
    background: #dbf7cd;
}

.declined {
    background: #f0857f;
}

.error-message {
    color: red;
    justify-content: 'center';
    display: flex;
}